@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    background: rgb(10, 184, 10);

    display: flex;
    justify-content: center;
    align-items: center;
}

header #title {
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

main #cont-prod {
    /* border: solid; */
    display: flex;
    flex-direction: column;
}

main #title {
    margin: 20px;
}

main #cont-prod ul li {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main #cont-prod ul li .img-prod {
    width: 60px;
    height: 60px;
}

main #cont-prod ul li #info-prod {
    width: 70%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

main #cont-prod ul li #info-prod .name-prod {
    font-size: 16px;
}

main #cont-prod ul li #info-prod .price {
    margin-top: 10px;
    font-size: 14px;
}

main #cont-prod ul li .add {
    width: 50px;
    height: 50px;
    background: url('../assets/add.png') no-repeat;
    background-size: cover;
    cursor: pointer;
}